# Gitignore to prevent local configurations from being transfered

### dotenv and Store ###
.env
.DS_Store

### local folders for venv and history ###
vnv
chat_histories

### local prompt templates ###
templates_local.py

# Python cache directories
__pycache__/
*.pyc

# End of https://www.toptal.com/developers/gitignore/api/dotenv
